@font-face {
    font-family: Bartex;
    src: url(../fonts/Bartex.ttf);
}

@font-face {
    font-family: barbie;
    src: url(../fonts/Barbie-Font-Beta/barbieFont.ttf);
}

@font-face {
    font-family: machoBold;
    src: url('../fonts/Macho-SemiBold.woff'), url(../fonts/Macho-SemiBold.woff2);
}

:root {
    --pink-dark: #d25099;
    --pink-medium: #e16aad;
    --pink-light: #f4a2d0;
    --yellow: #f9dd9a;
    --blue-light: #87ced0;
    --whiteText: #fff;
    --font-Bartex: Bartex;
    --font-barbie: barbie;
    --font-machoBold: machoBold;
}

.boxTitle {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h1 {
    background-color: var(--pink-dark);
    color: var(--whiteText);
    font-family: var(--font-Bartex);
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 40px;
    position: relative;
    z-index: 10000;
    margin-bottom: 0 !important;
    border-style: dotted dotted none;
    border-width: 4px;
    border-color: var(--yellow);
}

h2.title {
    background-color: var(--pink-dark);
    color: var(--whiteText);
    font-family: var(--font-machoBold);
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    position: relative;
    z-index: 10000;
    text-align: center;
    margin-bottom: 0;
    border-style: none dotted dotted;
    border-width: 4px;
    border-color: var(--yellow);
}

#canvas1 {
    background: url('../images/background.gif');
    /*  position: relative; */
    height: 100%;
    width: 100%;
    margin: 0;
    /* top: 0; */
    left: 0;
    position: absolute;
    z-index: 0;
}

.navbar-brand img {
    width: 60px;
    height: 60px;
}

.navbar {
    background-color: var(--yellow);
}

.navbar-items {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.cardDate {
    display: flex;
    justify-content: center;
}

.cardRotative {
    width: 450px;
    height: 600px;
    border-radius: 20px;
    position: relative;
    flex-direction: column;
    box-sizing: border-box;
}

.presentation {
    background: rgba(244, 162, 208, 0.48);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.9px);
    -webkit-backdrop-filter: blur(6.9px);
    border: 1px solid rgba(244, 162, 208, 0.24);
    padding: 40px 0;
    align-items: end;
    justify-content: space-between;
}

.cardRotative.presentation .perfil {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.presentation .perfil h2 {
    font-family: var(--font-Bartex);
    font-style: normal;
    font-weight: 300;
    font-size: 90px;
    line-height: 80px;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-bottom: 5px;
    color: var(--whiteText);
    text-align: center;
}

.presentation .perfil span {
    font-family: var(--font-machoBold);
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    color: var(--blue-light);
}

.cardRotative.presentation img {
    width: 70%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
}

.cardRotative.presentation button {
    width: 146px;
    background-color: var(--blue-light);
    border-radius: 20px;
    text-decoration: none;
    font-family: var(--font-Bartex);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--whiteText);
    padding: 8px 0;
    z-index: 100;
    text-align: center;
    margin-right: 20px;
    border: var(--blue-light);
    cursor: pointer;
}

.cardRotative.presentation button:hover {
    background: var(--yellow);
    color: var(--whiteText);
    border: var(--yellow);
}

.cardRotative.presentation button:focus {
    outline: none;
    border: var(--blue-light);
}

.description {
    background: rgba(135, 206, 208, 0.28);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.4px);
    -webkit-backdrop-filter: blur(8.4px);
    border: 1px solid rgba(135, 206, 208, 0.81);
    gap: 15px;
    text-align: center;
}

.description .perfil {
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.description .perfil h2 {
    font-family: var(--font-Bartex);
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 40px;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-bottom: 5px;
    color: var(--yellow);
    text-align: center;
}

.description .perfil span {
    font-family: var(--font-machoBold);
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    color: var(--blue-light);
}

.cardRotative.description .imagen-description {
    width: 261px;
    height: 396px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.cardRotative.description p {
    font-family: var(--font-Bartex);
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    color: var(--whiteText);
    padding: 0 15px 25px;
    text-align: center;
}

.cardRotative.description h3 {
    font-family: var(--font-machoBold);
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 20px;
    color: var(--blue-light);
    text-align: end;
    padding-right: 50px;
}

.red-social {
    display: flex;
    justify-content: flex-end;
    padding: 0 25px;
}

.red-social img {
    width: 25px;
    height: 25px;
    margin: 0 3px;
}

.isVisible {
    display: flex;
    position: absolute;
    z-index: 100;
    animation-name: isVisible;
    animation-duration: 2s;
}

.isNotVisible {
    position: absolute;
    z-index: -1;
    animation-name: notVisible;
    animation-duration: 5s;
}

@keyframes isVisible {
    from {
        transform: translateY(-50%);
    }

    to {
        transform: translateY(0);
    }
}


@keyframes notVisible {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-0);
    }
}


a.clickOpen {
    background-color: var(--blue-light);
    border-radius: 20px;
    text-decoration: none;
    font-family: var(--font-Bartex);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--whiteText);
    padding: 8px 0;
    z-index: 100;
    text-align: center;
    margin-right: 20px;
    border: var(--blue-light);
    cursor: pointer;
    width: 30%;
}

a:hover.clickOpen  {
    background: var(--yellow);
    color: var(--whiteText);
    border: var(--yellow);
}

a:focus.clickOpen  {
    outline: none;
    border: var(--blue-light);
}

@media screen and (max-width: 767px) {
    a.clickOpen {
        margin-right: 0;
        width: 40%;
    }

    .cardRotative {
        width: 90%;
        height: 600px;
        margin: auto 15px;
    }

    .cardRotative.presentation img {
        width: 66%;
        height: auto;
    }

    .cardRotative.description .imagen-description {
        width: 50%;
        height: auto;
    }

    .red-social {
        justify-content: end;
    }
}